node_modules/
/dist
npm-debug.log
.env

# Dépendances et builds
**/node_modules
**/dist
**/.next
**/out

# Git et IDE
.git
.gitignore
.vscode
.idea

# OS
.DS_Store
thumbs.db

# Docker & Logs
docker-compose.yml
npm-debug.log*